<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Home
      {% endblock %}
    </title>
  </head>
  <body>
    {% block search %}
        <a href="/mypage"> My Page </a>
	<form action="/search">
	  <input type="text" name="query">
	  <input type="submit" value="Search for a User">
	</form>
	{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    <h1>Welcome, {{username}}!</h1>
    <h3>What would you like to do?</h3>
    <a href="/add"> Make a new post</a>
    <p><a href="/logout">Logout</a></P>
    {% endblock %}
  </body>
  </html>
