<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Home
      {% endblock %}
    </title>
  </head>
  <body>
   <h3> Explore: </h3>
      <ul style=" 
list-style-type:none;
    float:left; margin:0; padding:0;">
	<li >
	  <a href="/mypage"> My Home Page </a>
	</li>
	<li>
	  <a href="/add"> Make a New Blog</a>
	</li>
	<li> 
	  <a href="/logout">Logout</a>
	<li>
      </ul>
 
      <br>
      <br>
          <center>
 <h2>Welcome, {{username}} to the best blog site on the internet!</h2>
    {% block search %}
       
	<form action="/search">
	  <input type="text" name="query">
	  <input type="submit" value="Search for a User">
	</form>
	{% endblock %}
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes style="list-style-type:none;">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    </center>

	  <!--<h3>What would you like to do?</h3> -->
	  <h3> Blogs: </h3>
 {% for n in range(length) %}
 {% set url = "/user/" + users[length - n - 1][0] + "/" + ids[length - n - 1][0]|string %}
    <table>
      <td>
	<h3>
	  <a href={{url}}> {{titles[length - n - 1][0]}} - #{{ids[length - n - 1][0]}} </a>
	</h3>
      </th>
<td>
	By {{users[length - n - 1][0]}}
      </td>
      <td>
	<!--{{descriptions[length - n - 1][0]}}-->
      </td>
    </table>
    {% endfor %}
   
  {% endblock %}

   
    
 
  </body>
  </html>
