<h1>Login here</h1>
{% with messages = get_flashed_messages() %}                            
    {% if messages %}                                                          
    <ul class=flashes style="list-style-type:none;">                                                         
      {% for message in messages %}                                            
      <li>{{ message }}</li>                                                   
      {% endfor %}                                                             
    </ul>
    {% endif %}
    {% endwith %}
<form action="/auth">
  Username:
  
  <input type="text" name="username"></input><br><br>
  Password:
  <input type="text" name="password"></input><br><br>
  <input type="submit"></input>
</form>
</p>

<p> <a href="/register"> Create an Account </a> </p>
