<!DOCTYPE html>
<html>
    <head>
      <title>{{title}} - {{post_id}}</title>
    </head>
    <body>
     <h3> Explore: </h3>
      <ul style=" 
list-style-type:none;
    float:left; margin:0; padding:0;">
	<li >
	  <a href="/"> Home </a>
	</li>
	<li>
	  <a href="/add"> Make a New Blog</a>
	</li>
	<li> 
	  <a href="/logout">Logout</a>
	<li>
      </ul>
      <br>
      <br>
      <h1> {{title}} - #{{post_id}} </h1>
      <p> {{body}} </p>
      <br> {{time}}
      {% if this_user %}
      {% set eurl = "/editpost/" + user + "/" + blog_id + "/" + post_id %}
      {% set durl = "/deletepost/" + user  + "/" + blog_id + "/" + post_id %}
      <p> <a href={{eurl}}> Edit this entry </a> </p>
      <p> <a href={{durl}}> Delete this entry </a> </p>
      {% endif %}
    </body>
</html>
