<!DOCTYPE html>
<html>
    <head>
      <title>{{user}}'s Page</title>
	  a {
    color: hotpink;
	}
    </head>
    <body>
      <h3> Explore: </h3>
      <ul style=" 
list-style-type:none;
    float:left; margin:0; padding:0;">
	<li >
	  <a href="/"> Home </a>
	</li>
	<li>
	  <a href="/add"> Make a New Blog</a>
	</li>
	<li> 
	  <a href="/logout">Logout</a>
	<li>
      </ul>
      <br>
      <br>
      <center>

       <h2>{{user}}'s Page</h2>
    {% block search %}
       
	<form action="/search">
	  <input type="text" name="query">
	  <input type="submit" value="Search for a User">
	</form>
	{% endblock %}
	</center>
      
      {% for n in range(length) %}
      {% set url = "/user/" + user + "/" + ids[length - n - 1][0]|string %}
      <h1> <a href={{url}}> {{titles[length - n - 1][0]}} - #{{ids[length - n - 1][0]}} </a> </h1>
      <h3> {{descriptions[length - n - 1][0]}} </h3>
      {% endfor %}
    </body>
</html>
